.Section {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.Section.Section--one {
  background-color: red;
}

.Section.Section--two {
  background-color: blue;
}
