.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  background: #212121;
  color: #fff;

  font-size: 40px;
}

.frame-1 {
  max-width: 100%;
}
