.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  background: #212121;
  color: #fff;

  font-size: 40px;
}

.frame-1 {
  position: relative;
  max-width: 100%;
  z-index: -1;
}

#bubble-1,
#bubble-2 {
  width: 230px;
}

#bubble-1 {
  position: absolute;
  left: 100%;
  top: 20%;
  z-index: 2;
}

#bubble-2 {
  position: absolute;
  left: 85%;
  top: 28%;
  opacity: 0;
  z-index: 1
}
