.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);

  background: #212121;
  color: #fff;

  font-size: 40px;
}

.frame-1 {
  max-width: 100%;
}

#pinned-element1 {
  position: relative;
}

.bubble {
  position: absolute;
  left: 100%;
  z-index: 500;
  width: 300px; // not the actual real value
}

#bubble-1 {
}
